 /* To make columns collapsing smoothly */
 div{
   transition: all 0.3s;
 }
 .button-animate{
    transition: transform 2s;
 }

 .button-animate:hover{
    transform: rotate(180deg);
    }

    .row{
      min-height: auto;
    }

    /* Change font for navbar-brand */
.navbar-brand{

}
.nav-item{
   transition: 0.5s;
}
.nav-item:hover{
   color: black;
   background-color: aliceblue;
}
.nav-link.active:hover{
   color:black !important;
}
.nav-link:hover{
   color: black;
}

.nav-link img{
   width: 30px;
}

.header{
   font-family: monospace,'Courier New', Courier;
   font-weight: 60;
   font-size: 20px;
   padding: 3%;
   padding-bottom: 1%;
}
.role-title{
   font-weight: 400;
   font-size: 40px;
}
 
.social-links{
   display: flex;
   justify-content: end;
   align-items: end;
   gap: 10px;
   /* Discard transition effects from overall div */
   transition: none;
}

.link img{
   width:20px ;
}

.link .fab{
   color:black;
   transition: color 1s;
   border-radius: 50%;
   padding: 5px;
}

.link .fab:hover{
   color:white;
   background-color: black;
}

/* .main{
   background-color: rgb(5, 26, 50);
   color: white;
} */
.main > .row{
   margin: 0 0;
   padding: 3% 0;
   font-family: monospace;
   
}

@media screen and (min-width:1000px) {
 .personal-details-absolute{
   position: relative;
   left: 35%;
   transition: left 0.5s;

}  
}

.personal-details{
   padding-top: 10px;
   border-radius: 15px;
   box-shadow: 0 4px 3px gray;
   transition: transform 1s, left 0.5s;
}
.personal-details:hover{
transform: scale(1.05);
}

.personal-details>div, .profile-hide > div{
 
   margin-bottom: 5%;
}

.profile-hide{
   opacity: 0;
   transition: opacity 0.5s;
}
.profile-img{
   margin: auto;
}

.profile-img>img{
   width: 70%;
   aspect-ratio: 1 / 1;
   display: block;
   margin: auto;
   border-radius: 50%;
   transition: width 1s ,border-radius 1s;
   
}
.profile-table{
   padding: 0 !important;
}

.profile-row{
   display: flex;
   justify-content: space-between;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid black;

}

.profile-row:nth-of-type(3){
   border-bottom: 2px solid black;
}

.see-less-btn{
   display: none;
}


.h2{
   text-align: end;
}
.hr-thin-dark > hr{
   height: 2px;
   background-color: black;
   opacity: 1;
   margin: 3px 0;
}
.hr-dark > hr{
   height: 5px;
   background-color: black;
   border: none;
   opacity: 1;
   margin: 3px 0;

}
.background{
 max-height: 0;
 border-radius: 15px;
 box-shadow: 2px 4px 2px  gray;
 overflow: hidden;
 transition: max-height 2s;
}

.background.show{
   max-height: 2000px;
}
.exp > div{
   margin: 2% 0;
}
.exp-container{
   display: flex;
   justify-content: space-between;
}
.school:hover{
   /* background-color: #2c3e50 ;
   color: #ecf0f1; */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   transform: scale(1.05);
   border-radius: 10px;
   

}
.school > div,.skillset > div  {
   margin: 3% 0;
   
}

.school-info,.skill-desp{
   display: flex;
   justify-content: space-between;
}

.school-date{
   border: 1px solid black;
   font-size: small;
   font-weight:bolder;
   padding: 0 10px;
}

.skill-top-container{

   margin: 0px 0;
   padding:10px 0;
}

.show-skill-btn > button{
   width: 100%;
}

.console{
   margin-top: 5px;
   background-color: rgb(49, 46, 46);
   
   max-height: 0;
   overflow: hidden;
   color: white;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}
.console.show{
   max-height: 60px;
padding: 10px 3px;
}
.console>span:nth-of-type(1){
   color: rgb(1, 186, 1);
}

.skillset{
   max-height: 0;
   color: white;
   background-color: rgb(49, 46, 46);
   overflow: hidden;
   margin-bottom: 0;
   padding: 0 3%;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   box-shadow: 0 5px 4px  gray;
   
}

.skillset-0.show,.skillset-1.show,.skillset-2.show,.skillset-3.show{
   max-height: 80px;
   /* margin-bottom: 20px; */
}



.prize > div {
   margin: 2% 0;
}

.prize-type{
   display: flex;
   gap: 10px;
}
.prize-type-name{
   /* font-weight: bold;
   font-size: 20px; */
}
.prize-count {
   color:white;
   background-color: black;
   padding:0 20px;
   font-size: smaller;

}

.prize-instance{
   display: flex;
   justify-content: space-between;
}
.top-portfolio{
   opacity: 0;
   transition: opacity 1s;
}
.portfolio-heading{
   margin: 4% 0;
   text-align: center;
   font-family: monospace;
   font-weight: bolder;
   font-size: 30px;
}
  /* Custom Styling for One-Sided Carousel */
        /* .carousel { */
            /* max-width: 600px; Adjust the width
            margin-left: 0; Align to the left */
        /* } */
        /* .carousel-inner { */
            /* overflow: hidden; Hide overflowing images */
        /* } */
        /* .carousel-item img { */
            /* width: 100%; */
            /* transform: translateX(100%); Start from the right */
            /* transition: transform 0.8s ease-in-out; */
        /* } */
        /* .carousel-item.active img { */
            /* transform: translateX(0); Move to position */
        /* } */


.footer{
   padding: 15px;
}
.footer-note{
   text-align: center;
}

.footer-dark{
   background-color: black;
   color: white;
}
@media  screen and (max-width:576px) {
   .social-links{
      margin-top: 25px;
      justify-content: start;
   }

   .profile-img>img{
      width: 100% ;
      border-radius:0% ;
   }
   
}